<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat The Burger</h1>
    <p class="lead">Welcome to the year 2060! We now eat food by clicking. Reality is a simulation. Food was a lie.</p>
  </div>
</div>

<div class= "container" id="inputforburger">
<div class="row" id="form">
  <div class="row">
    <div class="col-md">
<h5>Still Hungry? That's weird.... try another...</h5>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" burger_name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devour it</label><br>
    <input type="radio" burger_name="devoured" value="1" checked> Add "Burger"!<br>
  </div>

  <button type="submit" class="btn btn-dark">Add "Burger"</button>
</form>
</div>
</div>
</div>
</div>
<br>



<div class= "container">
  <div class= "row">
    <div class="col-sm">
<h2>Delicious and totally real burgers</h2>
<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ol>
</div>

<div class="col-sm">
<h2>Burgers that are devoured!</h2>
<ol>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      </li>
    {{/unless}}
  {{/each}}
</ol>
</div>

</div>
</div>




