.jumbotron {
  background-image: url("../../../images/cyborgburger2.png")
}

li {
  padding: 5px;
  margin: 5px;
  background: lightblue;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#inputforburger {
  text-align: center;
}

h1 {
  font-family: 'Audiowide', cursive;
}

h2, .lead {
  font-family: 'Chakra Petch', sans-serif;
}

h5, p, li, .form-group, .btn {
  font-family: 'Gruppo', cursive;
}

