.jumbotron {
  padding-bottom: 20%;
  background-image: url(./images/jumbocyberg.jpg);
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  /* text-align: center; */
  justify-content: center;
  background-blend-mode: multiply;
}

.display-4, .lead {
  background-color:rgba(255, 255, 255, 0.5)
}

li {
  padding: 5px;
  margin: 5px;
  background: lightblue;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#inputforburger {
  justify-content: center;
}

h1 {
  font-family: 'Audiowide', cursive;
}

h2, .lead {
  font-family: 'Chakra Petch', sans-serif;
}

h5, p, li, .form-group, .btn {
  font-family: 'Gruppo', cursive;
}

body{
  background-color: white;
}