<li>
	{{burger_name}}

	<button class="change-devour btn btn-dark" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#unless devour}}Eat
		{{/unless}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
